
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Fahkwang';
}


.main-nav-container {
    display: flex;
    flex-direction: row;
}

.main-nav-brand-container {
    display: flex;
    flex-direction: row
}

.main-nav-link-container {
    display: none;
}

.main-nav-link {
    text-align: center;
}

.brand-logo {
    width: 40px;
}

/*   Home Components     */

.home-title {
    text-align: center;
}

.home-card{
    border-radius: 25px;
}